* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    min-height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 50px 0 60px;
    text-align: justify;
}

.title {
    background-color: #808080;
    height: 35px;
    width: 100%;
    padding: 10px 5px 10px 5px;
}

h2 {
    text-align: left;
}

article {
    margin: 10px 55px 10px 65px;
}

img {
    height: 140px;
    padding: 10px;
    float: left;
}