* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
}





/*body {
    margin-top: 100px;
    margin-bottom: 110px;
    margin-left: 60px;
    min-width: 100vw;
}

br {
    display: none;
}

h1 {
    margin-bottom: 30px;
}

h2 {
    margin-bottom: 25px;
}

p {
    margin-bottom: 20px;
}

.tab {
    margin-left: 35px;
}

@media (max-width:1024px) {
    body {
        min-width: 100vh;
    }
    br {
        display: block;
    }

}
*/




/*div:not(#example) {

color: red;

}
body {
    margin: 100px 45px 110px 60px;
    min-height: 100vh;
}

/*